<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play Memory!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cards">
    <app-memory-card *ngFor="let card of memoryCards$ | async;" [id]="card.id" [sujet]="card.sujet" [boxSize]="boxSize" class="card"></app-memory-card>
  </div>
  
</ion-content>

